
<mat-tab-group  mat-align-tabs="center" >
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon color="accent">notifications</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon color="accent">assignment</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon color="accent">assessment</mat-icon>
        </ng-template>
    </mat-tab> 
    <mat-tab class="mat-tab-new-event" isActive="true" disabled="true" label="Third">
        <ng-template mat-tab-label>
            <button color="accent"  mat-raised-button> NEW event</button>
        </ng-template>
    </mat-tab>
</mat-tab-group>


<!-- <div fxLayoutGap="25px" fxLayout="row">
    <mat-card fxFlex="25">

    </mat-card>
    <mat-card fxFlex="25">

    </mat-card>
    <mat-card fxFlex="25">

    </mat-card>
    <mat-card fxFlex="25">

    </mat-card>
</div> -->
