<div  *ngIf="mdService.desktop"  fxLayoutAlign.gt-md="space-around" fxLayout.lt-lg="column" fxLayout.gt-md="row"  [class]="mdService.desktop ?  'task-manager-container-desktop' : 'task-manager-container' " >
     <div [ngStyle.lt-lg]="{'margin-top': '70px'}"  fxFlex.gt-md="22" fxFlex.lt-lg="30"  fxLayout="column" >
        <div fxLayoutAlign="center">
            <app-task-manager-filter fxFlex="100" [participants]="participants" [projectId]="selectedProject" (getItems)="getTasks($event,0).subscribe()"></app-task-manager-filter>
        </div>
        <div fxLayoutAlign="center">
            <app-task-manager-list fxFlex="100" (selectTask)="selectTask($event)" [tasksList]="tasksList" [taskSelected]="taskSelected ? taskSelected : null" (getItems)="getTasks(taskQueryString,$event).subscribe()" [taskTotal]="taskTotal" ></app-task-manager-list>
        </div>
    </div>
<!--     <div fxLayoutAlign="center" class="div-no-tasks" *ngIf="tasksList.length === 0">
        <h4>THERE ARE NO TASKS IN THE CURRENT PROJECT</h4>
    </div> -->
    <div fxFlex.gt-md="75" fxFlex.lt-lg="70">
        <router-outlet *ngIf="taskSelected" ></router-outlet>
         <div fxLayoutAlign="center">
                 <h4 class="div-no-tasks"  *ngIf="!taskSelected">NO TASK SELECTED</h4>
        </div>
    </div>
    </div>
<div *ngIf="!mdService.desktop">
    <mat-tab-group mat-stretch-tabs  mat-align-tabs="center">
      <mat-tab [label]="mdService.desktop ? 'Tasks List' : ''">
             <ng-template *ngIf="!mdService.desktop" mat-tab-label>
               <mat-icon>list</mat-icon>
             </ng-template>
            <div *ngIf="tasksList.length > 0" fxLayout="column">
                <div fxLayoutAlign="center">
                    <app-task-manager-filter fxFlex="10" [participants]="participants" [projectId]="selectedProject" (getItems)="getTasks($event,0).subscribe()"></app-task-manager-filter>
                </div>
                <div  fxLayoutAlign="center">
                    <app-task-manager-list fxFlex="90" (selectTask)="selectTask($event)" [tasksList]="tasksList" [taskSelected]="taskSelected ? taskSelected._id : null" (getItems)="getTasks(taskQueryString,$event).subscribe()" [taskTotal]="taskTotal" ></app-task-manager-list>
                </div> 
            </div>
            <div fxLayoutAlign="center" class="div-no-tasks" *ngIf="tasksList.length === 0">
               <h4>THERE ARE NO TASKS IN THE CURRENT PROJECT</h4>
            </div>
      </mat-tab>
      <mat-tab [label]="taskSelected ? taskSelectedName : ''"> 
            <router-outlet *ngIf="taskSelected"></router-outlet>
             <div *ngIf="!taskSelected" class="div-no-tasks"  fxLayoutAlign="center">
                 <h4 >NO TASK SELECTED</h4>
             </div>
      </mat-tab>
    </mat-tab-group>
</div>




