
<mat-toolbar >
    <mat-toolbar-row>
   <a fxShow.xs fxHide.gt-xs>
      <mat-icon  color="accent" (click)="toggleSideMenu.emit()">menu</mat-icon>
   </a>
   <a fxShow.gt-xs fxHide.xs >
      <mat-icon class="icon-pages"  color="accent">notifications</mat-icon>
   </a>
   <a fxShow.gt-xs fxHide.xs >
      <mat-icon [routerLink]="['/pages/calendar']" routerLinkActive="router-link-active"
         matTooltip="navigate to calendar" class="icon-pages" color="accent">calendar_today</mat-icon>
   </a>
   <a fxShow.gt-xs fxHide.xs >
      <mat-icon [routerLink]="['/pages/task-manager']" routerLinkActive="router-link-active"
         matTooltip="navigate to task manager" class="icon-pages" color="accent">assignment</mat-icon>
   </a>
   <a fxShow.gt-xs fxHide.xs >
      <mat-icon  class="icon-pages"  color="accent">assessment</mat-icon>
   </a>
   <span class="spacer"></span>
   <ng-content></ng-content>  
   <a fxShow.gt-xs fxHide.xs>
      <mat-icon color="accent">share</mat-icon>
   </a>
   <a fxShow.gt-xs fxHide.xs>
      <mat-icon color="primary">settings</mat-icon>
   </a>
   <a fxShow.gt-xs fxHide.xs>
      <mat-icon color="warn" (click)="logout.emit()" >exit_to_app</mat-icon>
   </a>
  </mat-toolbar-row>

</mat-toolbar>

<!-- 
 -->