
<mat-toolbar >
    <mat-toolbar-row>
   <a>
      <mat-icon fxShow.xs fxHide.gt-xs color="accent" (click)="toggleSideMenu.emit()">menu</mat-icon>
   </a>
   <a>
      <mat-icon fxShow.gt-xs fxHide.xs [routerLink]="['/']" routerLinkActive="router-link-active"
         matTooltip="navigate to home" class="icon-pages" color="accent">home</mat-icon>
   </a>
   <a>
      <mat-icon fxShow.gt-xs fxHide.xs [routerLink]="['/pages/calendar']" routerLinkActive="router-link-active"
         matTooltip="navigate to calendar" class="icon-pages" color="accent">calendar_today</mat-icon>
   </a>
   <a>
      <mat-icon fxShow.gt-xs fxHide.xs [routerLink]="['/pages/task-manager']" routerLinkActive="router-link-active"
         matTooltip="navigate to task manager" class="icon-pages" color="accent">assignment</mat-icon>
   </a>
      <span class="spacer"></span>
      <ng-content></ng-content>  
     <a><mat-icon color="accent">share</mat-icon></a>
     <a><mat-icon color="primary">settings</mat-icon></a>
     <a><mat-icon color="warn" (click)="logout.emit()" >exit_to_app</mat-icon></a>

  </mat-toolbar-row>

</mat-toolbar>

<!-- <mat-tab isActive="true" disabled="true" label="Third">
   <ng-template mat-tab-label>
      <button (click)="postTask()" color="accent" [disabled]="!selectedProject" mat-raised-button> NEW TASK</button>
   </ng-template>
</mat-tab>
 -->