


.spacer {
  flex: 1 1 auto;
}

mat-icon{
    margin:0.5em
}

.icon-pages {
    font-size: 30px;
    margin-left:2em
}

app-projects-smart{
  width:100%
}

mat-toolbar-row{
  background-color:#1b1b1b;
  padding:5px!important;
  margin-top:0px !important
}

ng-content{
  width:100%
}




 


