.main {
  height: 85vh; /* Same as the width of the sidebar */
  width: 100%;
}

@media (max-width: 1279px) {
  .main{
   height: 89vh;
   width: 100%;
   }
}

mat-sidenav-container{
  height: 100%;
  width: 100% !important;
  margin:0px;
  padding: 0px;
}

mat-sidenav{
  width:30px;
  position:absolute;
  z-index:99999;
  background-color: #1b1b1b;
}

.new-task-btn-desktop{
    font-weight: bolder;
    width: 100px;
    font-size: 15px;
    text-align: center;
}

.new-task-btn-mobile{
    font-weight: bolder;
    width: 100%;
    font-size: 11px;
    text-align: center;
    padding: 0px;
    margin-left: 0vw;
}


.spacer {
  flex: 1 1 auto;
  width: 50px;
}

mat-icon{
    margin:0.5em
}

.icon-pages {
    font-size: 30px;
    margin-left:2em
}

mat-toolbar-row{
  background-color:#1b1b1b;
  padding:5px!important;
  margin-top:0px !important;
}

.div-task-btn-desktop{
  margin-right: 7vw;
}

.div-task-btn-mobile{
    margin-right: 0vw;
}

.div-not-display{
  color:#7b87cc ;
  margin: 25px;
}



