

<mat-sidenav-container>
  <mat-sidenav #start [mode]="'side'">
             <mat-list>
               <mat-list-item fxLayoutAlign="center" matTooltip="navigate to calendar">
                  <a  [routerLink]="['calendar']" routerLinkActive="router-link-active"><mat-icon  color="accent">calendar_today</mat-icon></a>
               </mat-list-item>
               <mat-list-item fxLayoutAlign="center" matTooltip="navigate to task manager">
                  <a [routerLink]="['task-manager']" routerLinkActive="router-link-active">
                     <mat-icon color="accent">assignment</mat-icon>
                  </a>
               </mat-list-item>
               <mat-list-item fxLayoutAlign="center" matTooltip="navigate to charts">
                  <a [routerLink]="['task-manager']">
                     <mat-icon  class="icon-pages" color="accent">assessment</mat-icon>
                  </a>
               </mat-list-item>
               <mat-list-item fxLayoutAlign="center">
                  <a >
                     <mat-icon color="accent">share</mat-icon>
                  </a>
               </mat-list-item>
               <mat-list-item fxLayoutAlign="center">
                   <a >
                     <mat-icon color="accent">settings</mat-icon>
                  </a>
               </mat-list-item>
               <mat-list-item fxLayoutAlign="center">
                  <a (click)="logout()" >
                     <mat-icon color="warn" (click)="logout()">exit_to_app</mat-icon>
                  </a>
               </mat-list-item>
             </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSideMenu)="start.toggle()" (logout)="logout()" >
          <app-projects-smart id="project-selector" [projects]="projects" > </app-projects-smart>
         <button fxLayout="center" ngClass.gt-xs="new-task-btn-desktop" ngClass.xs="new-task-btn-mobile" id="new-task" (click)="postTask()" color="accent" [disabled]="!projectService.selectedProject" mat-raised-button> <small>NEW TASK</small></button>
    </app-header >
      <div [class]="deviceDetectorService.isMobile() ? 'main-mobile' : 'main'">
        <div *ngIf="projectService.selectedProject" [@routeAnimations]="routesAnimation" >
         <router-outlet #outlet="outlet"></router-outlet>
        </div>
            <app-no-projects *ngIf="!projectService.selectedProject"></app-no-projects>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>



