.main {
  height: 85vh; /* Same as the width of the sidebar */
  margin: 0px 35px;
  padding-top:1rem;
}

.main-mobile{
   height: 85vh; /* Same as the width of the sidebar */
  margin: 0px 5px;
  padding-top:1rem;
}

mat-sidenav-container{
  height: 100%;
}

mat-sidenav{
  width:30px;
  position:absolute;
  z-index:99999;
  background-color: #1b1b1b;
}


.pages-toolbar{
  background-color: #1b1b1b;
  height: 43px;
     position: sticky !important;
    position: -webkit-sticky !important; /* For macOS/iOS Safari */
    top: 0 !important; /* Sets the sticky toolbar to be on top */
    z-index: 1000 !important; /* Ensure that your app's content doesn't overlap the toolbar */
}