

<mat-sidenav-container>
  <mat-sidenav #start [mode]="'side'">
             <mat-list>
               <mat-list-item matTooltip="navigate to calendar">
                  <a [routerLink]="['calendar']" routerLinkActive="router-link-active"><mat-icon  color="accent">calendar_today</mat-icon></a>
               </mat-list-item>
               <mat-list-item matTooltip="navigate to task manager">
                  <a [routerLink]="['task-manager']" routerLinkActive="router-link-active">
                     <mat-icon color="accent">assignment</mat-icon>
                  </a>
               </mat-list-item>
               <mat-list-item matTooltip="navigate to charts">
                  <a [routerLink]="['task-manager']">
                     <mat-icon  class="icon-pages" color="accent">assessment</mat-icon>
                  </a>
               </mat-list-item>
               <mat-list-item>
                  <a >
                     <mat-icon color="accent">share</mat-icon>
                  </a>
               </mat-list-item>
               <mat-list-item>
                   <a >
                     <mat-icon color="accent">settings</mat-icon>
                  </a>
               </mat-list-item>
               <mat-list-item>
                  <a (click)="logout()" >
                     <mat-icon color="warn" (click)="logout()">exit_to_app</mat-icon>
                  </a>
               </mat-list-item>
             </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header-smart (toggleSideMenu)="start.toggle()" >
          <app-projects-smart [projects]="projects" > </app-projects-smart>
    </app-header-smart >
      <div  [ngClass]="{'main-mobile': checkIfIsMobile()}" class="main">
       <div fxLayoutAlign="center" [style.width.%]="'100'" [style.margin-bottom]="'5px'">
          <button (click)="postTask()" color="accent" [disabled]="!projectService.selectedProject" mat-raised-button> NEW TASK</button>
       </div>
         <router-outlet *ngIf="projectService.selectedProject" ></router-outlet>
         <app-no-projects *ngIf="!projectService.selectedProject"></app-no-projects>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--    <mat-toolbar class="pages-toolbar">
      <span>My Application</span>
   </mat-toolbar> -->

