
<h2 mat-dialog-title></h2>
<mat-dialog-content>               
    <div fxFlex="100%" >
            <form fxLayout="column" [formGroup]="projectForm">
                <div fxFlex="100%" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.gt-xs="20px" fxLayoutAlign="center">
                                <div>
                                    <mat-form-field >
                                        <input #nameControl matInput formControlName="name" id="name" name="name" type="text" class="form-control"placeholder="Name">
                                    </mat-form-field>
                                    <p *ngIf=" projectForm.controls.name.errors?.minlength && !projectForm.controls.name.errors?.required" class="error-message">Min 3 characters</p>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="status">
                                            <mat-option value="true" > active</mat-option>
                                            <mat-option value="false"> unactive</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                </div>
                 <div fxFlex="100%" fxLayout.gt-xs="row" fxLayoutAlign="space-around"  fxLayout.xs="column">
                     <div fxFlex="45%">
                        <mat-form-field>
                            <mat-label>Participants</mat-label>
                            <mat-select multiple [disabled]="participantsOptions.length === 0" class='form-control mb-2' (selectionChange)="participantsChange($event.value)">
                                <mat-option *ngFor="let opt of participantsOptions" [value]="opt._id">{{opt.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-label>Participants</mat-label>
                        <mat-list role="list">
                            <mat-list-item  *ngFor="let participant of participantsSelected" role="listitem"> <small>{{participant.name}} </small></mat-list-item>
                        </mat-list>
                    </div>
                    <div fxFlex='45%'>
                        <mat-form-field>
                            <mat-label>Administrators</mat-label>
                            <mat-select multiple [disabled]="admOptions.length === 0" (selectionChange)="administratorsChange($event.value)">   
                                <mat-option *ngFor="let opt of admOptions" [value]="opt._id">{{opt.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-label>Administrators</mat-label>
                        <mat-list role="list">
                            <mat-list-item *ngFor="let adm of admSelected" role="listitem"> <small>{{adm.name}}</small>
                            </mat-list-item>
                        </mat-list>
                      </div>
                   </div>
           </form>
    </div>             
</mat-dialog-content>

 <mat-dialog-actions fxLayoutAlign="center">
    <button *ngIf="!project" class="mat-raised-button" (click)="createProject()" [disabled]="projectForm.invalid"> <strong>Create project</strong></button>
    <button *ngIf="project" class="mat-raised-button" (click)="saveProjectChanges()" [disabled]="projectForm.invalid || projectForm.pristine || checkProjectState()"><strong>Save Changes</strong></button>
    <button class="mat-raised-button" (click)="hideModal()">Close</button>
</mat-dialog-actions>

