
.div-messages{
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
     -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.div-messages::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.div-file-icon{
  height: 125px;
width: 100px;

.file-icon{
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.file-icon-temp{
   height: 100px;
  width: 100px;
}

.div-file-title{
  max-height: 20px;
  font-size: 10px;
  word-break: break-all; 
}
}






