
.div-notifications-container{
   height:100%;
}
.div-notifications-list{
   height: 100%;
   overflow-y: scroll;
}
.div-notifications-list::-webkit-scrollbar { 
      width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.div-notifications-labels{
   margin-top: 0px;
   padding:1.5vh;
   background-color:#f1f1f1
}

