.div-notifications {
   width: 100%;
   height: 65.5vh;
   overflow-y: scroll;
}

.div-notifications::-webkit-scrollbar { 
      width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


.div-notifications-labels{
   margin-top: 0px;
   padding:1.5vh;
   background-color:#f1f1f1
}

