<mat-expansion-panel [class]="isDesktop() ? 'expansion-panel-pc': 'expansion-panel-mobile'">
    <mat-expansion-panel-header  [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
            <div  fxLayout="row" fxLayoutAlign="space-between">
                <a fxHide.xs fxShow.gt-xs [style.margin-top]="'15px'" fxFlex="10"(click)="$event.stopPropagation();postProject.emit()">
                    <mat-icon class="icon-plus" color="primary">add</mat-icon>
                </a>
                <mat-form-field fxFlex.gt-xs="90"  fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center" (click)="$event.stopPropagation();">
                    <mat-select #select [(ngModel)]="projectSelectedIn"
                        (selectionChange)="projectSelectedOut.emit($event.value ||'')">
                        <mat-option *ngFor="let project of projects" [value]="project._id">
                            {{project.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    </mat-expansion-panel-header>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef fxShow fxHide.lt-xs> Name </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" fxShow fxHide.lt-xs>
                {{element.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="administrators">
            <mat-header-cell mat-header-cell *matHeaderCellDef fxShow fxHide.lt-sm> Administrators</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" fxShow fxHide.lt-sm> {{element.administrators.length }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="participants">
            <mat-header-cell mat-header-cell *matHeaderCellDef fxShow fxHide.lt-sm> Participants </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" fxShow fxHide.lt-sm> {{element.participants.length}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell mat-header-cell *matHeaderCellDef fxShow fxHide.lt-sm> Status</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" fxShow fxHide.lt-sm> {{element.status === true ? 'active':'unactive'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell fxLayout.xs="column" mat-cell *matCellDef="let element">
                <a (click)="putProject.emit(element)">
                    <mat-icon class="icon_options">edit</mat-icon>
                </a>
                <a (click)="$event.stopPropagation();deleteProject.emit(element._id)">
                    <mat-icon>delete</mat-icon>
                </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="3" [pageSizeOptions]="[3,6,12]" showFirstLastButtons>
    </mat-paginator>
</mat-expansion-panel>




