<div fxLayout="column" class="div-calendar-container" >
    <div fxFlex.gt-xs="18" fxFlex.xs="27" fxLayout="row">
       <div fxHide.xs fxShow.gt-xs fxLayout="column" fxFlex.gt-xs="25" fxFlex.xs="50" fxLayoutAlign="center">
          <div fxLayoutAlign="center">
            <h2 class="date-label" *ngIf="dateFormat === 'month'"> {{selectedDate | date : 'MMMM yyyy'}} </h2>
            <h2 class="date-label" *ngIf=" dateFormat === 'day' "> {{selectedDate | date : ' EEEE d MMMM yyyy'}} </h2>
          </div>
      </div>
      <div fxFlex.gt-xs="25" fxFlex.xs="35" [style.margin-top]="'15px'" fxLayout="column" fxLayoutAlign="center">
              <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
                  <button class="format-btn" [color]="dateFormat === 'month' ? 'primary': ''" (click)="setFormat('month')"
                      mat-raised-button>MONTH</button>
                  <button class="format-btn" [color]="dateFormat === 'day' ? 'primary': ''" (click)="setFormat('day')"
                      mat-raised-button>DAY / WEEK</button>
               </div>
      </div>
      <div [style.margin-top]="'20px'" fxLayoutGap="15px" fxLayoutAlign="center" fxFlex.gt-xs="35" fxFlex.xs="65">
          <div fxLayout="column" fxLayoutAlign="center" fxFlex="90">
            <div fxLayoutAlign="flex-end">
              <lp-date-selector  [label]=" dateFormat === 'day' ? 'selected a date' : ''" [dateFormat]="dateFormat" [ngModel]="selectionDate" (ngModelChange)="dateSelection($event)"></lp-date-selector>
            </div>
          </div>
          <div fxFlex="10" fxLayout="column" fxLayoutAlign="center">
            <button [disabled]="setSearchBtnDisabled()" (click)="searchByDate()" mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>search</mat-icon>
            </button>
          </div>
      </div>
      <div fxFlex.gt-xs="15" fxFlex.xs="50" fxHide.xs  fxLayoutAlign="flex-end">
        <div fxLayout="column" fxLayoutAlign="center">
          <mat-icon [style.margin]="'40px'" color="accent" (click)="openInfo()">info</mat-icon>
        </div>
      </div>
  </div>
  <div fxFlex.gt-xs="82" fxFlex.xs="73">
    <router-outlet></router-outlet>
      <!-- <app-calendar-scheduler-month-smart 
      *ngIf="dateFormat === 'month'"
      [selectedDate]="selectedDate"
      [selectedProject]="selectedProject">
      </app-calendar-scheduler-month-smart>       
      <app-calendar-scheduler-day-smart
      *ngIf=" dateFormat === 'day'"
      [selectedDate]="selectedDate"
      [hoursRange]="{start:7,end:24}"
      [selectedProject]="selectedProject"
      (dateSelection)="dateSelection($event);selectedDate=$event">
      </app-calendar-scheduler-day-smart> -->
  </div>
</div>


