<div [ngStyle.gt-sm]="{'margin': '40px'}" fxLayout="row">
    <div fxFlex="50" fxLayout="column">
        <div class="div-lbl-container" fxLayoutAlign="center" fxLayout="row">
            <div  fxFlex="60" class="div-low-p"></div>
            <p class="p-info" fxFlex="40">LOW PRIORITY TASK</p>
        </div>
        <div class="div-lbl-container" fxLayout="row">
            <div  fxFlex="60" class="div-medium-p"></div>
            <p class="p-info" fxFlex="40">MEDIUM PRIORITY TASK</p>
        </div>
        <div class="div-lbl-container" fxLayout="row">
            <div  fxFlex="60" class="div-high-p"></div>
            <p class="p-info" fxFlex="40">HIGH PRIORITY TASK</p>
        </div>
    </div>
    <div fxFlex="50" fxLayout="column">
        <div class="div-lbl-container" fxLayout="row">
            <div fxFlex="60" class="div-ok-time" ></div>
            <p class="p-info" fxFlex="40">TASK TIME OK</p>
        </div>
        <div class="div-lbl-container" fxLayout="row">
            <div fxFlex="60"  class="div-in-time" ></div>
            <p  class="p-info"fxFlex="40">TASK TIME RUNNING OUT</p>
        </div>
        <div class="div-lbl-container" fxLayout="row">
            <div  fxFlex="60" class="div-out-time"></div>
            <p class="p-info" fxFlex="40">TASK TIME RUNNED OUT</p>
        </div>
    </div>
</div>