<div class="container-fluid">
    <img fxHide.xs class="img-background" [src]="'team-manager.jpg' | frontImg" alt="">
    <div [ngClass]="checkStyleByDevice()"  >
        <div class="login-box" fxLayout="column">
            <h1 fxLayoutAlign="center" [style.font-weight]="'bolder'">
                BEE TEAM
            </h1>
            <hr>
            <h3 fxLayoutAlign="center" [style.font-weight]="'bolder'">LOGIN</h3>
            <form ngNativeValidate #userForm='ngForm' role="form" (ngSubmit)='doLogin()'>
                    <div  fxLayoutAlign="center">
                         <mat-form-field  >
                              <mat-label for="email">EMAIL</mat-label>
                             <input matInput #emailControl="ngModel" [(ngModel)]="email" id="email" name='email' type="email"  placeholder="E-mail"   autofocus="" email required>
                         </mat-form-field>
                    </div>
                    <ng-container  *ngIf="!emailControl.valid && emailControl.touched">
                                        <p   *ngIf="emailControl.errors.email && !emailControl.errors.required" class="error-message">El valor de este campo debe ser un email válido</p>
                    </ng-container>
                    <div [style.margin-top]="'2.5em'" fxLayoutAlign="center"> 
                          <mat-form-field>
                            <mat-label for="password">PASSWORD</mat-label>
                             <input [type]="hidePass ? 'password' : 'text'" appPassword  matInput [(ngModel)]="password"  #passControl="ngModel" [regExps]="regExpValidations"  id="password" name="password"   placeholder="Password" required>
                             <mat-icon [style.cursor]="'pointer'" matSuffix (click)="togglePassVisibility()">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </mat-form-field>
                    </div>
                     <ng-container *ngIf="!passControl.valid && passControl.touched">
                                        <p *ngIf="passControl.errors.hasNumeric && !passControl.errors.required " class="error-message">La contraseña debe de tener al menos un número</p>
                                        <p *ngIf="passControl.errors.minLength && !passControl.errors.required && !passControl.errors.hasNumeric" class="error-message">La contraseña debe ser al menos de 8 caracteres</p>
                    </ng-container>
                    <div [style.margin-top]="'2em'" fxLayoutAlign="center">
                              <mat-checkbox  class="remember-me" [(ngModel)]="rememberMe" value="false"  name="rememberMe" type="checkbox" >Remember me</mat-checkbox> 
                    </div>
                <div class="btn-submit" fxLayoutAlign="center" >
                     <button mat-raised-button [disabled]="userForm.invalid" type='submit'><strong>LOGIN</strong></button>
                </div>
            </form>
            <div  [style.margin-top]="'1.5em'" fxLayout="row"  fxLayoutAlign="space-around">
                <a (click)="navigateToRegistration()" >Registrarse</a>
                <a (click)="recoverPassword()" routerLinkActive="router-link-active">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>
</div>

