.container-fluid {
    background: #d9d9d9;
    color: black;
    height:100%;
    width:100%;
}


.login-container-desktop{
    width:18rem;
    background:transparent;
    position: absolute;
    left: 3%;
    top:10%;

    h1{
        font-family: 'Alfa Slab One', cursive;
        color:#3c4873;
        font-size:1.8rem
    }
 
}

/* Buscar imagen de background chu */
.login-container{
    height: 100%;
    width:100%;
    background:#ffffff;
    .login-box{
        padding-top:10rem
    }
}

.img-background{
   height:100%;
    width:100%;
}

.remember-me{
    margin-top:0.5rem;

}


a{
    color:blue
}


mat-form-field{
    width:90% !important
}


.btn-submit{
   margin-top:2em;
}