

<mat-tab-group (selectedIndexChange)="tabIndex = $event;" #tabGroup mat-stretch-tabs  fxFlex="100" mat-align-tabs="center">
               <mat-tab> 
                  <ng-template mat-tab-label>
                   Task info
                   <mat-icon color="primary">poll</mat-icon>
                </ng-template>   
                  <app-task-manager-info  *ngIf="taskSelected && tabIndex === 0" (deleteTask)="deleteTask()" (toggleStatus)="toggleStatus($event)" (editTask)="editTask()" [taskSelected]="taskSelected" (actionResolved)="resolveAction($event)"></app-task-manager-info>
               </mat-tab>
                <mat-tab> 
                 <ng-template mat-tab-label>
                   Chat
                   <mat-icon color="primary"> chat</mat-icon>
                </ng-template>
                <app-task-manager-chat  *ngIf="taskSelected && tabIndex === 1" [users]="users" [taskSelected]="taskSelected"></app-task-manager-chat>
              </mat-tab>
                <mat-tab> 
               <ng-template mat-tab-label>
                   Files
                   <mat-icon color="primary">folder</mat-icon>
                </ng-template>
                <app-task-manager-files *ngIf="taskSelected && tabIndex === 2" [taskSelected]="taskSelected" ></app-task-manager-files>
                </mat-tab>
</mat-tab-group>            
