

<div fxLayout.gt-xs="row" fxLayout.xs="column" [style.margin-bottom]="'20px'" fxLayout="row">
    <div fxFlex='50' fxLayout="row" fxLayoutAlign="space-around">
        <div fxLayout="column" *ngIf="dateFormat === 'day' || dateFormat === 'week'">
            <mat-form-field appearance="fill">
                <mat-label>Choose a day</mat-label>
                <input [value]="selectedDate" #daySelection matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div *ngIf="dateFormat === 'month'" fxLayoutAlign="center" fxLayout="column">
            <div fxLayout.gt-xs="row" fxLayout.xs="column">
                <mat-form-field fxLayoutAlign="center" appearance="fill">
                    <mat-label>Year</mat-label>
                    <input #yearSelection [value]="selectedDate.getFullYear().toString()" matInput
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Year">
                </mat-form-field>
                <mat-form-field fxLayoutAlign="center" appearance="fill">
                    <mat-label>Month</mat-label>
                    <mat-select #monthSelection [value]="selectedDate.getMonth().toString()"
                        [disabled]="!yearSelection.value">
                        <mat-option value="0">
                            january
                        </mat-option>
                        <mat-option value="1">
                            february
                        </mat-option>
                        <mat-option value="2">
                            march
                        </mat-option>
                        <mat-option value="3">
                            april
                        </mat-option>
                        <mat-option value="4">
                            may
                        </mat-option>
                        <mat-option value="5">
                            june
                        </mat-option>
                        <mat-option value="6">
                            july
                        </mat-option>
                        <mat-option value="7">
                            agust
                        </mat-option>
                        <mat-option value="8">
                            september
                        </mat-option>
                        <mat-option value="9">
                            october
                        </mat-option>
                        <mat-option value="10">
                            november
                        </mat-option>
                        <mat-option value="11">
                            december
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    
    </div>
    <div fxFlex='50' [style.margin-top]="'15px'" fxLayoutAlign="center">
        <div fxLayout="row">
            <button class="format-btn" [color]="dateFormat === 'month' ? 'primary': ''" (click)="setFormat('month')"
                mat-raised-button>MONTH</button>
            <button class="format-btn" [color]="dateFormat === 'week' ? 'primary': ''" (click)="setFormat('week')"
                mat-raised-button>DAY / WEEK</button>
        </div>
    </div>
</div>