


.selected-format-btn{
    background-color: primary;
}

.format-btn{
    width: 80px !important;
    height: 30px !important;
}

.set-date-btn{
    width: 200px !important;
    
}

mat-form-field{
    width: 200px !important;
    padding: 0px !important; 
}

mat-card{
    padding:10px !important;
    border-bottom: 0px!important;
}

  .mat-form-field-wrapper {
        padding-bottom: 0.8rem !important;
    }

.date-label{
    color: #3f51b5;
}

mat-tab{
    background-color: black !important;
    :disabled{
       button{
           color:blue
       }
    }
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-disabled {
  opacity: 1;
}

