
<h2 mat-dialog-title></h2>

<mat-dialog-content *ngIf="projectV || projectV === 0">
               <div fxLayoutAlign="center">
                <mat-radio-group  [(ngModel)]="projectV" aria-label="Select an option">
                  <mat-radio-button  [value]="i" [style.margin.px]="'10'"  *ngFor="let projectV of projectSelected.prevStates; let i = index"  >v{{ i + 1}}</mat-radio-button>
                  <mat-radio-button  [value]="projectSelected.prevStates.length" [style.margin.px]="'10'">v{{ projectSelected.prevStates.length + 1}}</mat-radio-button>
                </mat-radio-group>
               </div>
              <div *ngIf="projectVersions[projectV]" fxLayout="column" fxLayoutAlign="center" >
                  <div [style.margin-left.px]="'20'" fxLayoutAlign="space-between">
                      <mat-icon  (click)="back.emit()">keyboard_backspace</mat-icon>
                      <mat-icon *ngIf="versionIsDifferent()" (click)="restore()" appIsAdm >settings_backup_restore</mat-icon>
                      <mat-label *ngIf="!isLastVersion(projectVersions[projectV]) && !versionIsDifferent()">*Version is equal to the current one*</mat-label>
                </div>
                <div *ngIf="projectVersions[projectV]" fxLayout="column" >
                    <h3 [class]="propertyHasChanged('name') ? 'property-changed':''" fxLayoutAlign="center">{{projectVersions[projectV].name}}</h3>
                </div>
                <div *ngIf="projectVersions[projectV]" fxLayout.gt-xs="row" fxLayout.xs="column">
                    <div fxLayout="column">
                        <div class="category-div">
                            <h5>
                                Participants:
                            </h5>
                            <ul>
                                <li [class]="propertyHasChanged('participants') ? 'property-changed':''" *ngFor="let participant of projectVersions[projectV].participants" role="listitem">{{participant.name}}</li>
                            </ul>
                        </div>
                         <div class="category-div">
                            <h5>
                                Administrators:
                            </h5>
                            <ul>
                                <li [class]="propertyHasChanged('administrators') ? 'property-changed':''" *ngFor="let adm of projectVersions[projectV].administrators" role="listitem">{{adm.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <div class="category-div" >
                            <h5>
                                Status: 
                            </h5>
                            <p>
                                {{ projectVersions[projectV].status ? 'active' : 'unactive'}}
                            </p>
                        </div>
                    </div> 
                </div>
                <div fxLayoutAlign="flex-end">
                   <small class="property-changed">*Property edited*</small>
                </div> 
              </div>
</mat-dialog-content>





