<div [style.margin]="'10px'">
        <div fxLayout="row">
            <mat-card fxFlex="14" *ngFor="let label of labels">
                <span fxLayoutAlign="center"  fxHide.lt-md>
                    {{label}}
                </span>
                <p fxLayoutAlign="center"  fxHide.gt-sm fxShow.lt-md>
                    {{label.charAt(0)}}
                </p>
            </mat-card>
        </div>
        <div *ngIf="dayRows" fxLayout="column" >
            <div   *ngFor="let row of dayRows" fxLayout="row">
                 <div fxFlex="14"  *ngFor="let label of labels ; let i=index">
                        <mat-card>
                            <mat-card-content [ngStyle]="{'height': cellSize}" fxLayout="column">
                                <ng-template let-day="aVariable" [ngTemplateOutletContext]="{ aVariable: getDayOfWeek(row,i)  }" [ngTemplateOutlet]="selfie" #selfie>
                                    <div>
                                        <div>
                                            <p class="day" [ngClass]="{'day-unactive': checkDayActive(day.date) }"  >{{day.date | date:'d'}}</p>
                                        </div>
                                        <div class="div-tasks" fxShow.gt-sm fxHide.lt-md>
                                            <ng-container *ngFor="let task of day.tasks" >
                                                <mat-icon [matMenuTriggerFor]="menuPc" [matTooltip]="eventTooltip(task)" [matTooltipClass]="'event-tooltip'" [color]="iconColor(task)" [class]="task.priority === 1 ? 'priority-low' : task.priority === 2 ? 'priority-medium': 'priority-high'  " > trip_origin</mat-icon>
                                                <mat-menu #menuPc="matMenu">
                                                    <button (click)="checkTask.emit(task._id)" mat-menu-item>View details</button>
                                                    <div>
                                                        <button [disabled]="taskService.taskTimeEnded(task)" (click)="putTask.emit(task._id)" mat-menu-item>Edit</button>
                                                    </div>
                                                    <div>
                                                        <button [disabled]="taskService.taskTimeEnded(task)" (click)="deleteTask.emit(task._id)" mat-menu-item>Delete</button>
                                                    </div>
                                                </mat-menu>
                                            </ng-container>
                                        </div>
                                        <p fxLayoutAlign="center" fxHide.gt-sm fxShow.lt-md>
                                            <mat-icon color="primary" *ngIf="day.tasks.length > 0" (click)="checkTasks.emit(day.date)"  >pageview</mat-icon>
                                        </p>
                                    </div>
                                </ng-template>
                            </mat-card-content>
                        </mat-card>
                </div>
            </div>
        </div>
</div>
    
