


mat-card{
  padding:5px!important;

  .size1{
       height:9.5vh !important
  }

  .size2{
        height:11vh !important
  }
  .mat-card-content{

   }
}

.day-unactive{
    opacity: 0.5;
    cursor: not-allowed !important;
}

.day{
    cursor: pointer;
    margin-bottom: 0px;
}

.task{
    font-size: 13px;
    cursor: pointer;
    height: 13px;
    margin:0px;
    padding:0px
}


.div-tasks{
    overflow-y: auto;
    height: 35px !important;

}


.priority-high{
    font-size: 25px;
}

.priority-medium{
    font-size:20px;
}

.priority-low{
    font-size:15px;
}


::ng-deep .mat-tooltip {
    white-space: pre-line;
}