

.div-info-container{
   height: 100%;
     mat-icon{
     font-size: 30px;
     }
    .icon-disabled{
      cursor:auto;
      opacity: 0.3;
     }
    .div-task-name{
      background-color:#7b87cc;
      color:whitesmoke;
      height: 25px;
      font-weight: bolder;
    }
    h4{
       color: #7b87cc;
    }
    .label-action{
       font-weight: bold;
       font-size: 12px;
       text-align: center;
       margin-top:5px
    }
}
   

  
    

  
 
   