


<div class="div-info-container" fxLayout="column" *ngIf="taskSelected" >
       <mat-card fxLayout="row" [fxFlex]=" mdService ? 8 : 10">
           <div fxLayout="row" fxFlex="50" >
               <h4 fxFlex.gt-sm="50" fxLayout.gt-sm="column" fxLayoutAlign="center">
                   Name:
               </h4>
               <p fxFlex.gt-sm="50"  fxLayout.gt-sm="column" fxLayoutAlign="center">
               {{taskSelected.name}}
               </p>
           </div>
            <div fxLayout="row" fxFlex="50">
                <h4 fxFlex.gt-sm="50"  fxLayout.gt-sm="column" fxLayoutAlign="center">
                 Description:
                </h4>
                 <div fxFlex.gt-sm="50"  fxLayout.gt-sm="column" fxLayoutAlign="center">
                     <mat-icon  color="primary" (click)="showDescription()">pageview</mat-icon>
                 </div>
            </div>
        </mat-card>
         <mat-card fxLayout="row" [fxFlex]=" mdService ? 8 : 10">
           <div fxLayout="row" fxFlex="50" >
               <h4 fxFlex.gt-sm="50" fxLayout.gt-sm="column" fxLayoutAlign="center">
                   Status:
               </h4>
                <p fxFlex.gt-sm="50" fxLayout.gt-sm="column" fxLayoutAlign="center">
                 {{taskSelected.status.toUpperCase()}}
                </p>
           </div>
           <div fxLayout="row" fxFlex="50">
                <h4 fxFlex.gt-sm="50" fxLayout.gt-sm="column" fxLayoutAlign="center">
                 Priority:
                </h4>
               <p fxFlex.gt-sm="50" fxLayout.gt-sm="column" fxLayoutAlign="center">
               {{taskSelected.priority === 1 ? 'HIGH' : taskSelected.priority === 2 ? 'MEDIUM' : 'LOW'}}
                </p>
           </div>
       </mat-card>
         <mat-card fxLayout="column" [fxFlex]="mdService.desktop ? (hasActsRequired ? 26: 36) : '42'"> 
           <h4  fxLayout.gt-sm="column" fxLayoutAlign="center">
               Progress
           </h4>   
        <app-task-manager-progress   [taskSelected]="taskSelected"></app-task-manager-progress>
        </mat-card>
        <mat-card  [fxFlex]="mdService.desktop ? (hasActsRequired ? 10: 20) : '35'">
           <h4 fxFlex.gt-xs="15" fxFlex.xs="50">
               Options
           </h4> 
           <div fxFlex="80" fxLayout="row">
                <div fxFlex.gt-xs="20" fxFlex.xs="33" fxLayout="row">
                  <div fxLayoutAlign="center">
                      <mat-icon 
                      color="primary"
                      [matTooltip]="taskSelected.status === 'on review' ? 'Task on review by the manager' :'' "
                      [ngClass]="{'icon-disabled': !taskService.taskTimeStarted(taskSelected)}"
                      (click)="toggleStat()">
                      {{ taskSelected.status === 'pending' ? 'move_to_inbox' : taskSelected.status === 'on review' ? 'hourglass_full' : 'assignment_turned_in'  }}
                      </mat-icon>
                  </div>
                   <mat-label *ngIf="mdService.desktop" class="label-action">
                    TOGGLE STATUS
                </mat-label>
                </div>
               <div fxFlex.gt-xs="20" fxFlex.xs="33" fxLayout="row">
                <div fxLayoutAlign="center">
                    <mat-icon [ngClass]="{'icon-disabled': !taskService.canBeEdited(taskSelected)}" (click)="taskService.canBeEdited(taskSelected) ? editTask.emit() : null" color="primary">edit</mat-icon>
                </div>
                <mat-label *ngIf="mdService.desktop"  class="label-action">
                    EDIT
                </mat-label>
                 </div>
                 <div fxFlex.gt-xs="20" fxFlex.xs="33" fxLayout="row">
                <div fxLayoutAlign="center">
                    <mat-icon [ngClass]="{'icon-disabled': taskService.taskTimeStarted(taskSelected)}" color="warn" (click)="!taskService.taskTimeStarted(taskSelected) ?  deleteTask.emit() : null">delete</mat-icon>
                </div>
                <mat-label *ngIf="mdService.desktop"  class="label-action">
                    DELETE TASK
                </mat-label>
                 </div>
           </div>
       </mat-card>
       <mat-card fxLayout="row" [fxFlex]="mdService.desktop ? (hasActsRequired ? 15: 30) : 30">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="50">
            <h4  fxLayout.gt-sm="column" fxLayoutAlign.lt-md="center">Participants</h4>
             <ul>
               <li *ngFor="let participant of taskSelected.participants" role="listitem">{{participant.name}}</li>
            </ul>
        </div>
        <div  fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="50">
            <h4  fxLayout.gt-sm="column" fxLayoutAlign.lt-md>Reviewers</h4>
             <ul>
               <li *ngFor="let reviewer of taskSelected.reviewers" role="listitem">{{reviewer.name}}</li>
            </ul>
        </div>
       </mat-card>
       <mat-card fxLayoutAlign="center"*ngIf="hasActsRequired && !mdService.desktop" fxLayout="row" fxFlex="10">
             <h4>
               Actions required
           </h4> 
       <mat-icon (click)="showActionsRequired()" color="primary">assignment_late</mat-icon>
      </mat-card> 
      <mat-card  *ngIf="hasActsRequired && mdService.desktop" fxLayout="column" fxFlex="35">
            <h4 [style.color]="'red'">
               Actions required
           </h4>
           <app-actions-required-smart [actionsRequired]="taskSelected.actionsRequired" (onActionResolved)="actionResolved.emit($event)" ></app-actions-required-smart>
      </mat-card>
</div>

