

  <mat-dialog-content>
      
<app-projects  
       [projects]="projects"
       (projectSelectedOut)="selectProject.emit({project:$event,order:'select'}); close()"
       [projectSelectedIn]="projectSelected"
       (deleteProject)="deleteProject.emit({project:$event,order:'put'});close()"
       (putProject)="putProject.emit({project:$event,order:'put'});close()">
</app-projects>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
      <button (click)="close()" mat-raised-button>CLOSE</button>
</mat-dialog-actions>