


<div #divMessages class="div-messages">
        <div fxLayoutAlign="center">
            <mat-spinner *ngIf="showSpinner" [diameter]="50"></mat-spinner>
        </div>
       <mat-card  *ngFor="let message of messages">
           <div [ngStyle]="{'color': message.user._id === userOnline._id  ? '#7b87cc' : '#d1870c'}" [fxLayoutAlign]="message.user._id === userOnline._id  ? 'flex-start' : 'flex-end'">
            <small>  {{message.date | date : 'M/d/yy, h:mm a'}} {{message.user.name}}</small>
           </div>
           <div fxLayout="row">
               <div class="div-file-icon" fxLayout="column" *ngFor="let file of message.files" >
                   <img #fileImg (click)="downloadFile.emit({src:fileImg.src,file:file})" class="file-icon" [src]=" file | fileIcon | async" alt="">
                   <div class="div-file-title">
                       {{file.title}}
                   </div>
               </div>
           </div>
            {{message.text}}
        </mat-card>
</div>
