


    <div  fxLayout="row"  fxShow.gt-sm fxHide.lt-md>
        <div  fxFlex="5" fxLayout="column" >
            <mat-card  [ngClass]="{'mat-card-day-selected':isDaySelected(day)}" class="mat-card-day"  fxLayout="column"
                *ngFor="let day of week; let i = index" (click)="selectDate(day)">
                <div>
                    <a>{{day | date: 'E, d'}}</a>
                </div>
            </mat-card>
        </div>
        <div fxFlex="95" [style.margin]="'10px'" fxLayout="column">
            <div [style.width]="'95vw'" fxLayout="row">
                <mat-card fxFlex='90' class="mat-card-hour" *ngFor="let hour of hours">
                        <div>{{hour.date | date : 'H'}}</div>
                </mat-card>
                <div fxFlex="10"></div>
            </div>
            <div [style.width]="'95vw'" fxLayout="row">
                <mat-card fxFlex="90"  #cardHour [style.height]="'66vh'" class="mat-card-hour" *ngFor="let hour of hours">
                    <div  fxLayout="column">
                        <div #taskDiv [class]="task.priority === 1 ? 'div-task-high-p' : task-priority === 2 ? 'div-task-medium-p' : 'div-task-low-p' " [ngClass]="{'': taskRender(taskDiv,task,hour,'regular')}" *ngFor="let task of tasks"></div>
                    </div>
                </mat-card>
                <div [style.background-color]="'#ffffff'" fxFlex="10">
                    <div [style.height]="'30px'" *ngFor="let task of tasks">
                         <mat-icon [style.margin-left]="'15px'"  color="primary" (click)="checkTask.emit(task._id)">assignment</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxHide.gt-sm fxShow.lt-md fxLayout="column">
        <div fxFlex="10"  fxLayout="row">
            <mat-card class="mat-card-week-day"  [ngClass]="{'card-selected-day':isDaySelected(day)}"  fxLayout="column"
                *ngFor="let day of week; let i = index">
                <div>
                    <a (click)="selectDate(day)">{{day | date: 'd'}}</a>
                </div>
            </mat-card>
        </div>
        <div [style.margin-top]="'10px'" fxLayout="column" fxFlex="90">
            <div [style.width]="'92vw'" [style.margin-left]="'22px'" fxLayout="row">
                <div  [style.margin-left]="'2vw'" [style.width]="'15px'" fxLayoutAlign="center"  *ngFor="let task of tasks">
                    <mat-icon  (click)="checkTask.emit(task._id)">remove_red_eye</mat-icon>
                </div>
            </div>
            <div fxFlex="100" fxHide.gt-sm fxShow.lt-md fxLayout="row">
                <div [style.height]="'52vh'" fxLayout="column">
                   <div class="div-date"  [style.height.%]="100/hours.length"  *ngFor="let hour of hours">
                      {{hour.date | date : 'H'}}
                   </div>
                </div>
                <mat-card class="div-scrollable-tasks"  fxLayout="column">
                 <div [style.height.%]="100/hours.length" fxLayout="row"*ngFor="let hour of hours">
                     <div [style.margin-left]="'2vw'" [style.width]="'15px'" [matTooltip]="task.name" #taskDiv [ngClass]="{'': taskRender(taskDiv,task,hour,'small')}" *ngFor="let task of tasks">
                     </div>
                 </div>
                </mat-card>
            </div>
        </div>
    </div>

