.btn-submit{
    height: 40px;
}


.div-actions-required{
    overflow-y: scroll;
}

.div-actions-required::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@media (min-width: 0px) and (max-width: 1279px) {
  ::ng-deep .cdk-overlay-pane{
    position: absolute !important;
    top: 5px !important;
  }
}
