


<div class="div-actions-required">
  <div fxLayout="column" *ngFor="let action of actions; let i = index">
    <div [style.margin-bottom]="'7px'">The property <strong>{{action.property}}</strong>  of <strong>{{action.item.type}}</strong> has been changed by <strong>{{action.userFrom.name}} </strong>to <strong>'{{action.currentValue}}'</strong>, <strong [style.color]="'red'">ACTION IS REQUIRED</strong></div>
    <form #actionForm="ngForm" fxLayoutAlign="space-around" fxLayout.gt-xs="row" fxLayout.xs="column" action="" (ngSubmit)="showThinkingTimeProgress = true">
      <mat-form-field fxFlex="60" fxLayoutGap="20px" appearance="fill">
      <mat-select ngModel required [name]="action.property">
        <mat-option *ngFor="let opt of action.options" [value]="opt">{{opt}}</mat-option>
      </mat-select>
      </mat-form-field>
      <button *ngIf="!showThinkingTimeProgress" class="btn-submit" fxFlex="25" type="submit" [disabled]="actionForm.invalid" mat-raised-button>Submit action</button>
      <lp-thinking-time-progress [show]="showThinkingTimeProgress" (end)=" $event ? setActionValue(actionForm.value,action.item._id) : showThinkingTimeProgress = false "></lp-thinking-time-progress>
    </form>
  </div>
</div>

