

.img-user{
    width: 15vh;
    height: 15vh;
    margin:2rem;
}

.div-user-property{
    margin: 15px;
    h4{
        color:#7b87cc;
        text-align: center;
        margin-bottom:5px
    }
    p{
       text-align: center; 
    }
}