

.div-progress-container{
  width: 100%;
  line-height: 10pt;
  font-weight: bolder;
  div{
    padding: 0px !important;
    margin: 0px !important;
  }
  .div-progress{
  margin-top: 5px !important;
  width: 100%;
  align-items: center;
  .progress-bar-container{
       height: 18px;
       width: 100%;
       background-color: wheat;
       border: 1px solid black;
       border-radius: 5px;
       .progress-bar{
      background-color:#7b87cc;
          height: 100%;
          width: 100%;
        }
     }
  }
  .div-extratime-info{
   margin-top:10px !important
    }

    span{
      word-break: break-all;
    }

  .div-date{
    margin: 7px !important;
  }

}



