
<div [ngStyle.xs]="{'font-size': '10px'}" fxLayout="column" class="div-progress-container" fxLayout="column" >
    <div fxShow.lt-md fxHide.gt-sm fxLayoutAlign="space-between">
        <div class="div-date" fxLayoutAlign="center"> <span>{{taskSelected.startDate | date : 'M/d/yy, H:mm '}}</span> </div>
        <div class="div-date" fxLayoutAlign="center"> <span> {{taskSelected.endDate | date : 'M/d/yy, H:mm '}} </span></div>
    </div>
    <div [fxFlex]=" taskSelected.deliverDate ? '40' : '100'"  class="div-progress" fxLayoutGap="5px" fxLayout="row">
        <div fxHide.lt-md fxShow.gt-sm  fxLayoutAlign="center" fxFlex="10" > <span>{{taskSelected.startDate | date : 'M/d/yy, H:mm '}}</span> </div>
        <div fxFlex.gt-sm="80" fxFlex.lt-md="100" fxLayoutAlign="center">
            <div fxFlex="90" fxLayout="column" class="progress-bar-container" >
                <div [style.width.%]="timelineProgress" class="progress-bar" ></div>
            </div>
        </div>
        <div  fxHide.lt-md fxShow.gt-sm  fxLayoutAlign="center" fxFlex="10"> <span> {{taskSelected.endDate | date : 'M/d/yy, H:mm '}} </span></div>
    </div>
    <div fxFlex="40" *ngIf="extraTimeMilisec"  class="div-progress" fxLayout="column">
        <div fxLayoutAlign="center" [style.width.%]="'100'">
            <div fxFlex="60" fxLayout="column" class="progress-bar-container" >
                    <div [style.width.%]="extraTimeProgress" class="progress-bar"></div>
            </div>
        </div>
        <div class="div-extratime-info" fxFlex="10" fxLayout="row" fxLayoutAlign="center" >
                 <div fxLayoutAlign="center">
                     EXTRA TIME
                </div>  
                <div fxLayoutAlign="center">
                    (<p *ngFor="let time of extraTimeStringArray; let i = index">{{time ? time : 0}}{{extraTimeStringArray[i+1]? ', ' : ''}} </p>)
                </div>
        </div>
    </div>
</div>

