
<div [style.margin.px]="'20'" fxLayout="row">
    <div fxFlex="50" fxLayout="column">
           <div fxLayout="row">
               <mat-icon  class="priority-low" > trip_origin</mat-icon>
               <p class="p-info"> LOW PRIORITY TASK</p>
           </div>
           <div fxLayout="row">
               <mat-icon  class="priority-medium" > trip_origin</mat-icon>
               <p class="p-info">MEDIUM PRIORITY TASK</p>
           </div>
           <div fxLayout="row">
               <mat-icon  class="priority-high" > trip_origin</mat-icon>
               <p class="p-info">HIGH PRIORITY TASK</p>
           </div>
    </div>
    
    <div fxFlex="50" fxLayout="column">
           <div fxLayout="row">
               <mat-icon color="primary" class="priority-low" > trip_origin</mat-icon>
               <p class="p-info"> TASK TIME OK</p>
           </div>
           <div fxLayout="row">
               <mat-icon color="accent" class="priority-low" > trip_origin</mat-icon>
               <p class="p-info">TASK TIME RUNNING OUT</p>
           </div>
           <div fxLayout="row">
               <mat-icon color="warn"  class="priority-low" > trip_origin</mat-icon>
               <p class="p-info">TASK TIME RUNNED OUT</p>
           </div>
    </div>
</div>
