.dates-container{
    margin:20px
}
.btn-search-desktop{
    margin-bottom: 10px;
}

.btn-search-mobile{
    position: absolute;
    right:80%;
    top:12%;
}

.btn-search-dialog{
      margin-top:25px;
}

 ::ng-deep .mat-menu-panel{
      max-width: none !important;
}