
<div fxLayout="column">
    <div [style.margin-bottom]="'10px'">
        <div class="div-task-checked">
        </div>
        <div fxLayoutAlign="center">** TASK CHECKED **</div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row"><button  fxLayout="column" fxLayoutAlign="center"  mat-raised-button><mat-icon>done</mat-icon></button>CLICK TO CHANGE NOTIFICATION STATUS AS CHECKED </div>
        <div fxLayout="row"><button fxLayout="column" fxLayoutAlign="center" mat-raised-button><mat-icon color="warn">assignment_late</mat-icon></button>CLICK TO SEE REQUIRED ASSIGNMENT DETAIL</div>
        <div fxLayout="row"><button fxLayout="column" fxLayoutAlign="center" mat-raised-button ><mat-icon >{{ mdService.desktop ? 'launch' : 'info'}}</mat-icon></button>CLICK TO SEE NOTIFICATION ITEM DETAIL</div>
    </div>
 
</div>