
<h2 mat-dialog-title></h2>
<mat-dialog-content>               
    <div fxFlex="100%" >
           <form fxLayout="column" #projectForm="ngForm">
            <div fxFlex="100%" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.gt-xs="20px" fxLayoutAlign="center"
                fxLayoutAlign="space-around">
                <div>
                    <mat-form-field>
                        <input autocomplete="off" matInput  minlength="5" required #nameControl="ngModel" [(ngModel)]="project.name" id="name" name="name" type="text" placeholder="Name">
                    </mat-form-field>
                    <ng-container *ngIf="nameControl.errors && nameControl.touched">
                        <mat-error *ngIf="nameControl.errors.minlength && !nameControl.errors.required">Min 5 characters</mat-error>
                    </ng-container>
                </div>
                <div fxLayout="column" fxLayoutAlign="center">
                    <mat-checkbox #statusControl [(ngModel)]="project.status" name="status"> Status :{{project.status ? 'active' : 'unactive'}}</mat-checkbox>
                </div>
            </div>
            <div  fxFlex="100%" fxLayout.gt-xs="row" fxLayoutAlign="space-around" fxLayout.xs="column">
                <div [style.margin-top]="'15px'" fxFlex="45%">
                    <mat-form-field>
                        <mat-label>Participants</mat-label>
                        <mat-select required multiple [disabled]="participantsOptions.length === 0" class='form-control mb-2' (selectionChange)="participantsChange($event.value)" name="participants" [ngModel]="project.participants">
                            <mat-option  *ngFor="let opt of participantsOptions" [value]="opt._id">{{opt.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-list role="list">
                        <mat-list-item *ngFor="let participant of participantsSelected" role="listitem">{{participant.name}}</mat-list-item>
                    </mat-list>
                </div>
                <div [style.margin-top]="'15px'" [style.margin-bottom]="'15px'" fxFlex='45%'>
                    <mat-form-field>
                        <mat-label>Administrators</mat-label>
                        <mat-select required multiple [disabled]="admOptions.length === 0 && project.administrators.length === 0" (selectionChange)="administratorsChange($event.value)" [ngModel]="project.administrators" name="administrators">
                            <mat-option *ngFor="let opt of admOptions" [value]="opt._id">{{opt.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-list  role="list">
                        <mat-list-item *ngFor="let adm of admSelected" role="listitem">{{adm.name}}</mat-list-item>
                    </mat-list>
                </div>
            </div>
           </form>
    </div>             
</mat-dialog-content>

 <mat-dialog-actions fxLayoutAlign="center">
    <button *ngIf="!project._id" class="mat-raised-button" (click)="createProject()" [disabled]="projectForm.invalid"> <strong>Create project</strong></button>
    <button *ngIf="project._id" class="mat-raised-button" (click)="saveProjectChanges()" [disabled]="projectForm.invalid || projectForm.pristine || checkProjectState()"><strong>Save Changes</strong></button>
    <button class="mat-raised-button" (click)="hideModal()">Close</button>
</mat-dialog-actions>

