ngx-material-timepicker{
    z-index: 1 !important;
    position: absolute;
}

.date-picker-field{
    width: 100%;
    margin-bottom: 20px;
}

.input-date{
    cursor: pointer;
}

.mat-dialog-content{
  max-height: 100%;
}





