
<mat-dialog-content *ngIf="isDialog && task">
    <form fxLayout="column" #taskForm="ngForm">
          <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap="10px" >
              <div fxFlex="50" fxLayoutGap.gt-md="25px" fxLayout="column">
                <div>
                    <mat-icon *ngIf="prevDialog" (click)="dialogBack.emit()">keyboard_backspace</mat-icon>
                </div>
                    <mat-form-field>
                            <mat-label>Task name</mat-label>
                            <input matInput lpInputTrimmer  [(ngModel)]="task.name" name="name" autocomplete="off" required>
                    </mat-form-field>
                    <mat-form-field >
                            <mat-label>Description</mat-label>
                            <textarea cdkTextareaAutosize matInput lpInputTrimmer  [(ngModel)]="task.description" name="description" required  
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Participants</mat-label>
                        <mat-select [ngModel]="task.participants" name="participants" (ngModelChange)="participantsChange($event)" required multiple>
                            <mat-option [value]="participant._id" *ngFor="let participant of projectParticipants">
                                {{participant.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                     <mat-form-field>
                        <mat-label>Reviewers</mat-label>
                        <mat-select [(ngModel)]="task.reviewers" name="reviewers" required multiple>
                            <mat-option [value]="participant._id" *ngFor="let participant of reviewersOptions">
                                {{participant.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select [(ngModel)]="task.priority" name="priority" required>
                            <mat-option [value]="3" >HIGH</mat-option>
                            <mat-option [value]="2" >MEDIUM</mat-option>
                            <mat-option [value]="1" >LOW</mat-option>
                        </mat-select>
                    </mat-form-field>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around" fxFlex.gt-xs="50" fxLayoutGap="25px">
                                <lp-date-selector
                                 [disabled]="task._id &&  taskService.taskTimeStarted(task) "
                                 dateFormat="time"
                                 placeholder="Start date" 
                                 (ngModelChange)="setDate('startDate',$event)"
                                 [minDate]="today" 
                                 required 
                                 [ngModel]="task.startDate | lpParseDate : 'date'" 
                                 name="startDate">
                                </lp-date-selector>
                                <lp-date-selector 
                                dateFormat="time"
                                [disabled]="!task.startDate ||  task._id &&  taskService.taskTimeStarted(task) "
                                placeholder="End date"
                                [ngModel]="task.endDate | lpParseDate : 'date'"
                                (ngModelChange)="setDate('endDate',$event)"
                                [minDate]="task.startDate | lpParseDate : 'date'"
                                required
                                name="endDate" 
                                id="endDate" >
                                </lp-date-selector>
                                <div fxLayout="column">
                                    <div *ngFor="let string of timeString">{{string}}</div>
                                </div>
              </div>
          </div>
          <div [style.margin-top]="mdService.desktop ? '25px' : '0px'" fxLayoutAlign="center">
                 <button (click)="postTask.emit(task)" *ngIf="!task._id" [disabled]="taskForm.invalid" mat-raised-button>
            create </button>
             <button  [disabled]="taskHasChanges() || taskForm.invalid" (click)="putTask.emit(checkChangesToPatch())" *ngIf="task._id" mat-raised-button>
            save changes </button>
              <button  (click)="close.emit()" mat-raised-button> Close </button>
             </div>
    </form>
</mat-dialog-content>


 


