
<mat-dialog-content >
    <form fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap.xs="30px" #eventForm="ngForm">
          <div fxFlex="30" fxLayout="column">
            <div>
                <mat-icon *ngIf="prevDialog" (click)="back.emit()">keyboard_backspace</mat-icon>
            </div>
              <mat-form-field fxFlex="50">
                        <mat-label>Event name</mat-label>
                        <input [(ngModel)]="event.name" name="name" required matInput>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                        <mat-label>Description</mat-label>
                        <textarea [(ngModel)]="event.description" name="description" required matInput cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Participants</mat-label>
                    <mat-select [(ngModel)]="event.participants" name="participants" required multiple>
                        <mat-option [value]="participant._id" *ngFor="let participant of projectParticipants">
                            {{participant.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex.gt-xs="60" fxLayoutGap="25px">
                <div fxLayoutAlign="center" >
                    <mat-checkbox (change)="onRecursiveOptChange($event.checked)" [(ngModel)]="event.recursive"
                        name="recursive" #checkbox class="example-margin">Recursive</mat-checkbox>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-around">
                    <div>
                        <mat-form-field fxFlex="50" appearance="fill">
                            <mat-label>Start date</mat-label>
                            <input [min]="today" required [ngModel]="event.startDate | parseDate : 'date'" name="startDate"
                                (ngModelChange)="setDate('startDate',$event)" matInput readonly
                                [matDatepicker]="startDatepicker">
                            <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatepicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" appearance="fill">
                            <mat-label>End date</mat-label>
                            <input required [ngModel]="event.endDate | parseDate : 'date'"
                                (ngModelChange)="setDate('endDate',$event)" [matDatepickerFilter]="dateFilter"
                                [disabled]="!event.startDate" name="endDate" matInput [matDatepicker]="endDatepicker">
                            <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayoutAlign="center">
                    <mat-checkbox (change)="allDayOptChange($event.checked)" [(ngModel)]="allDay" name="allDay" #checkbox
                        class="example-margin">All Day/Days</mat-checkbox>
                </div>
                <div *ngIf="!allDay" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
                    <div fxFlex.gt-xs="35" fxLayoutAlign="center">
                        <input #startTimepickerInput
                            [ngClass]="{'input-error': eventForm.controls.startTime && eventForm.controls.startTime.touched && eventForm.controls.startTime.errors?.required  }"
                            required [ngModel]="event.startTime | parseHour : 'AM/PM' " (ngModelChange)="setTime('startTime',$event)"
                            name="startTime" readonly placeholder="Start time" [min]="startTimeMin()" [ngxTimepicker]="startTimePicker">
                        <ngx-material-timepicker [theme]="customTimepickerTheme" #startTimePicker>
                        </ngx-material-timepicker>
                    </div>
                    <div fxFlex.gt-xs="35" fxLayoutAlign="center">
                        <input [ngxTimepicker]="endTimepicker"
                            [ngClass]="{'input-error': eventForm.controls.endTime && eventForm.controls.endTime.touched && eventForm.controls.endTime.errors?.required  }"
                            required [disabled]="!event.startTime" [ngModel]="event.endTime | parseHour : 'AM/PM'"
                            (ngModelChange)="setTime('endTime',$event)" name="endTime" readonly placeholder="End time"
                            [min]="startTimepickerInput.value ? startTimepickerInput.value : null">
                        <ngx-material-timepicker [theme]="customTimepickerTheme" #endTimepicker>
                        </ngx-material-timepicker>
                    </div>
                </div>
            </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions [style.margin-top]="'25px'" fxLayoutAlign="center">
    <button (click)="postEvent.emit(event)" *ngIf="!event._id" [disabled]="eventForm.invalid" mat-raised-button>
        create </button>
    <button  [disabled]="eventHasChanges()" (click)="putEvent.emit(checkChangesToPatch(event))" *ngIf="event._id" mat-raised-button>
        save changes </button>
    <button  (click)="close.emit()" mat-raised-button> Close </button>
</mat-dialog-actions>
 


