

<div>
    <div fxShow.gt-xs fxHide.xs [style.margin]="'20px'" fxLayout="column">
        <div fxLayout="row">

            <mat-card fxFlex='90' [style.width]="calculateCardWidth()" class="card-hour" *ngFor="let hour of hours">
                    {{hour.date | date : 'H'}}
            </mat-card>
            <div [style.margin]="'10px'" fxFlex="10"></div>
        </div>
        <div  fxLayout="row">
            <mat-card fxFlex="90"  #cardHour [style.width]="calculateCardWidth()"class="card-hour" *ngFor="let hour of hours">
                <div  [style.width.%]="'100'" fxLayout="column">
                    <div  [style.margin-bottom]="'10px'" [style.margin-top]="'10px'" #eventDiv class="div-event" [ngClass]="{'': hasEvent(eventDiv,event,hour,'regular')}" *ngFor="let event of events"></div>
                </div>
            </mat-card>
            <div [style.background-color]="'#ffffff'" [style.margin]="'10px'" fxFlex="10">
                <div [style.width.%]="100"  [style.margin-bottom]="'10px'" [style.height]="'30px'" *ngFor="let event of events">
                <a  [matMenuTriggerFor]="menu" class="a-event-toggle">{{event.event.name}}</a>
                <mat-menu #menu="matMenu">
                     <button (click)="checkEvent.emit(event.event._id)" mat-menu-item>View details</button>
                    <div [matTooltip]="editionBanned(event.startDateTime) ? 'The event can not be edited because already started': null">
                        <button #btnEdit  [disabled]="editionBanned(event.startDateTime)" (click)="putEvent.emit(event.event._id)" mat-menu-item>Edit</button>
                    </div>
                </mat-menu>
                </div>
            </div>
        </div>
    </div>

    <div fxHide.gt-xs fxShow.xs [style.margin]="'20px'"  fxLayout="row">
        <div fxLayout="column">
        <mat-card [style.height]="'30px'" class="card-hour" *ngFor="let hour of hours">
            {{hour.date | date : 'H'}}
        </mat-card>
        </div>
        <div fxLayout="column">
        <mat-card #cardHour fxLayout="row" [style.height]="'30px'" class="card-hour"  *ngFor="let hour of hours">
            <div [style.width.px]="250" fxLayout="row">
                <div [style.margin-left.px]="'10'" [style.width.px]="20" [matTooltip]="event.event.name" #eventDiv
                    [ngClass]="{'': hasEvent(eventDiv,event,hour,'small')}" *ngFor="let event of events"></div>
            </div>
        </mat-card>
        </div>
    </div>
</div>