

<div>
    <div  fxLayout="row"  fxShow.gt-xs fxHide.xs>
        <div   fxFlex="5"  fxLayout="column" >
            <mat-card  [ngClass]="{'card-selected-day':isDaySelected(day)}" [style.height]="'60px'" fxLayout="column"
                *ngFor="let day of week; let i = index">
                <div>
                    <a (click)="selectDate(day)">{{day | date: 'E, d'}}</a>
                </div>
            </mat-card>
        </div>
        <div fxFlex.gt-xs="90"  [style.margin]="'10px'" fxLayout="column">
            <div fxLayout="row">
                <mat-card fxFlex='90' [style.width]="calculateCardWidth()" class="card-hour" *ngFor="let hour of hours">
                        {{hour.date | date : 'H'}}
                </mat-card>
                <div [style.margin]="'10px'" fxFlex="10"></div>
            </div>
            <div  fxLayout="row">
                <mat-card fxFlex="90"  #cardHour [style.width]="calculateCardWidth()"class="card-hour" *ngFor="let hour of hours">
                    <div  [style.width.%]="'100'" fxLayout="column">
                        <div  [style.margin-bottom]="'10px'" [style.margin-top]="'10px'" #taskDiv [class]="task.priority === 1 ? 'task-high-p' : task-priority === 2 ? 'task-medium-p' : 'task-low-p' " [ngClass]="{'': taskRender(taskDiv,task,hour,'regular')}" *ngFor="let task of tasks"></div>
                    </div>
                </mat-card>
                <div [style.background-color]="'#ffffff'" [style.margin]="'10px'" fxFlex="10">
                    <div [style.width.%]="100"  [style.margin-bottom]="'10px'" [style.height]="'20px'" *ngFor="let task of tasks">
                    <a  [matMenuTriggerFor]="menu" class="a-task-toggle">{{task.name}}</a>
                    <mat-menu #menu="matMenu">
                         <button (click)="checkTask.emit(task._id)" mat-menu-item>View details</button>
                        <div [matTooltip]="tasksService.editionBanned(task) ? 'The task can not be edited because already started': null">
                            <button #btnEdit  [disabled]="!task.editable" (click)="putTask.emit(task._id)" mat-menu-item>Edit</button>
                        </div>
                    </mat-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxHide.gt-xs fxShow.xs fxLayout="column">
        <div fxFlex="10"  fxLayout="row">
            <mat-card class="card-week-day"  [ngClass]="{'card-selected-day':isDaySelected(day)}" [style.height]="'20px'" fxLayout="column"
                *ngFor="let day of week; let i = index">
                <div>
                    <a (click)="selectDate(day)">{{day | date: 'd'}}</a>
                </div>
            </mat-card>
        </div>
        <div fxLayoutGap="10px" [style.margin-left]="'15px'" [style.height]="'20px'" fxLayout="row">
            <div [style.width]="'15px'"  *ngFor="let task of tasks">
                <mat-icon  (click)="checkTask.emit(task._id)">remove_red_eye</mat-icon>
            </div>
        </div>
        <div fxFlex="90" fxHide.gt-xs fxShow.xs fxLayout="row">
            <div fxLayout="column">
            <mat-card [style.height]="'25px'" class="card-hour" *ngFor="let hour of hours">
                {{hour.date | date : 'H'}}
            </mat-card>
            </div>
            <div class="div-scrollable-tasks"  fxLayout="column">
            <mat-card  #cardHour fxLayout="row" [style.height]="'25px'" class="card-hour"  *ngFor="let hour of hours">
                <div fxLayoutGap="10px" fxLayout="row">
                    <div [matTooltip]="task.name" [style.width]="'15px'"  #taskDiv [ngClass]="{'': taskRender(taskDiv,task,hour,'small')}" *ngFor="let task of tasks">
                    </div>
                 </div>
             </mat-card>  
            </div>
        </div>
    </div>
</div>
