
.card-hour{
    padding:0%!important;
}

.div-event{
    height: 10px;
}

.a-event-toggle{
    margin:5px;
    color:#5464bd;
    word-break: break-all;
    max-width: 100%;
}

.div-scrollable-events {
  
    overflow-x:scroll;
        width:350px;
        overflow-y:hidden;
        margin: auto;
}
