
.card-hour{
    padding:0%!important;
    width:15px
}

.div-task{
    height: 10px;
}

.a-task-toggle{
    margin:5px;
    color:#5464bd;
    word-break: break-all;
    max-width: 100%;
}

.div-scrollable-tasks {
  
    overflow-x:scroll;
        width:300px;
        overflow-y:hidden;
        margin: 5px;

}

.card-selected-day{

    background-color:#d1870c !important
}

.card-week-day{
width: 50px;
}


