<div class="div-info-icon" [ngClass]="{'div-info-icon-desktop-without-task': !notificationSelected}">
  <lp-bottom-sheet-info [componentToShow]="infoComponent" ></lp-bottom-sheet-info>
</div>
<div class="div-home" fxLayout.gt-sm="row" fxLayout.lt-md="column">
     <div fxLayout="column" [fxFlex.gt-md]="notificationSelected ? '70' : '100'" [fxFlex.md]="notificationSelected ? '60' : '100'" fxFlex.lt-md="100" >
        <nav mat-stretch-tabs mat-tab-nav-bar>
           <a mat-tab-link
             [active]="tabIndex === 0"
             (click)="navigate(0);">
             <mat-icon>notification_important</mat-icon>
             <span *ngIf="mdService.desktop" >NOTIFICATIONS TO CHECK</span>
            </a>
            <a mat-tab-link
              [active]="tabIndex === 1"
             (click)="navigate(1);">
             <mat-icon>folder</mat-icon>
              <span *ngIf="mdService.desktop" >NOTIFICATIONS RECORD</span>
            </a>
       </nav>
      <div fxFlex="90">
        <router-outlet>
        </router-outlet>
      </div> 
    </div> 
    <div [style.margin-top]="'5vh'" fxShow.gt-sm fxHide.lt-md *ngIf="notificationSelected" fxFlex.gt-md="28" fxFlex.md="40" fxFlex.lt-md="30" >
      <app-notification-change-detail [notification]="notificationSelected" (unselectNotification)="unselectNotification()"></app-notification-change-detail>
    </div>
</div>
