.div-home-desktop{
  height: 87vh;
}
.div-home{
  height: 90vh;
}
::ng-deep .mat-tab-list {
  .mat-tab-label {
    flex-basis: 1;
    flex-grow: 1
  }
}
.mat-tab-link{
  height: 5vh;
}
mat-icon{
  margin: 5px;
}


.div-info-icon{
    top:19% !important;
}

.div-info-icon-desktop-without-task{
    top:19%
}

