.card {
    padding: 0px;
    margin: 0px
}

.card-body {
    padding: 0px;
    margin: 0px
}
.frame{
    
    button{
    background-color:white;
    border:0px;
    width:100%
}

}

.btn-month-1{
 margin-left:3rem;
}
.btn-month-2{
 margin-right:3rem;
}



