

<div *ngIf="events"  fxLayout="row">

<mat-card [ngClass]="{'card-selected-day':isDaySelected(day)}" fxLayout="column" [style.width]="dayWidth" *ngFor="let day of week; let i = index">
     <div  >
         <a fxHide.xs fxShow.gt-xs (click)="selectDate(day)">{{day | date: 'EEEE, d, MMMM'}}</a>
        <a fxShow.xs fxHide.gt-xs (click)="selectDate(day)">{{day | date: 'E'}}</a>
     </div>
    <div fxHide.xs fxShow.gt-xs class="div-events" fxLayout="row">
            <ng-container *ngFor="let event of events[i]" >
                <mat-icon [matMenuTriggerFor]="menuPc" color="primary"  [matTooltip]="event.name" class="event" [class.event-recursive]="event.recursive"
                    [class.event-task]="event.task">trip_origin</mat-icon>
                    <mat-menu #menuPc="matMenu">
                        <button (click)="checkEvent.emit(event._id)" mat-menu-item>View details</button>
                        <div appIsAdm
                            [matTooltip]="eventService.editionBanned(event) ? 'The event can not be edited because already started': null">
                            <button [disabled]="!event.editable" (click)="putEvent.emit(event._id)" mat-menu-item>Edit</button>
                        </div>
                        <div appIsAdm [matTooltip]="!event.editable ? 'The event can not be deleted because already started': null">
                            <button [disabled]="!event.editable" (click)="deleteEvent.emit(event._id)" mat-menu-item>Delete</button>
                        </div>
                    </mat-menu>
            </ng-container>
    </div>
    <div fxHide.gt-xs fxShow.xs>
        <mat-icon [style.margin-top]="'20px'" *ngIf="events[i].length > 0" color="primary" (click)="checkEvents.emit(day)">pageview</mat-icon>
    </div>
</mat-card> 

</div>
