


.event{
    font-size: 13px;
    cursor: pointer;
    height: 13px;
    margin:0px;
    padding:0px
}

.event-recursive{
    color:blue;
}

.event-task{
    color:green
}

.div-events{
    margin-top:10px;
    overflow-y: auto;
    height: 25px !important;

}

.card-selected-day{
    background-color:#d1870c !important
}

