
.div-expansion-panel-container{
  width: 100%;
  position:relative ;
  .expansion-panel{
  z-index: 999997;
  position: absolute;
  width: 100%;
}
}

::ng-deep.mat-expansion-panel-body{
  padding:0px 0px 0px!important
}

.mat-expansion-panel-body {
    padding: 0;
}

.mat-form-project{
  width:200px !important
}

mat-expansion-panel-header{
  div{
    width:100% !important
  }
}
 ::ng-deep .mat-select-value{
text-align: center;
} 

.mat-cell-selector{
  cursor: pointer;
}

.mat-card-project{
  height: 45px !important;
  font-size: 13px;
  box-sizing:content-box !important;
  padding: 5px !important;
}


