
      <mat-expansion-panel *ngIf="mdService.desktop"  fxLayoutAlilgn="center" class="expansion-panel" >
      <mat-expansion-panel-header  [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
            <div  fxLayout="row" fxLayoutAlign="space-between">
                <a  fxLayoutAlign="center" fxFlex="10"(click)="postProject();$event.stopPropagation()">
                    <mat-icon color="primary">add</mat-icon>
                </a>
                <div  fxFlex="90" fxLayout="row" fxLayoutAlign="center">
                    {{projectSelected ? projectName: ''}}
                </div>
            </div>
       </mat-expansion-panel-header>
       <app-projects  
       [projects]="projects"
       (projectSelectedOut)="selectProject($event)"
       [projectSelectedIn]="projectSelected"
       (deleteProject)="deleteProject($event)"
       (putProject)="putProject($event)">
       </app-projects>
     </mat-expansion-panel>
     <mat-card class="mat-card-project" *ngIf="!mdService.desktop" >
        <div fxFlex="10">
        <a fxLayout="column" fxLayoutAlign="center" (click)="postProject();$event.stopPropagation()">
            <mat-icon fxLayoutAlign="flex-start" color="primary">add</mat-icon>
        </a>
        </div>
        <div  fxFlex="80" fxLayout="row" fxLayoutAlign="center">
        {{projectSelected ? projectName: ''}}
        </div>
        <div fxFlex="10">
         <a fxLayout="column" fxLayoutAlign="center">
            <mat-icon color="primary" (click)="openProjectList()" >list</mat-icon>
        </a>
        </div>
     </mat-card>
    