h3{
    margin: 0px;
    padding: 0px;
}

h5{
    font-weight:bolder;
    margin-bottom:5px;
    text-align: center;
}

.div-category-desktop{
    margin-top:10px;
    height: 12vh;
    width:100%;
    p{
        text-align: center;
    }
    mat-icon{
        font-size: 30px;
    }
}
.div-category{
   margin-top:10px
}

.property-changed{
    color:#d1870c
}

.div-labels{
    height: 20px;
    width: 100%;
}
.p-description{
    max-width: 100%!important;
    max-height: 100% !important;
    word-break: break-all;
}