mat-dialog-content{
margin-bottom:0px !important;
max-height:100vh!important;
}

h3{
    margin: 0px;
    padding: 0px;
}

h5{
    font-weight:bolder;
    margin-bottom:5px;
    text-align: center;
}

.div-category{
    margin-top:10px;
    height: 14vh;
    width:100%;
    p{
        text-align: center;
    }
    mat-icon{
        font-size: 30px;
    }
}
@media  (max-width: 1279px) {
   .div-category{
   margin-top:5px;
   }
}

.property-changed{
    color:#d1870c
}

.div-labels{
    height: 20px;
    width: 100%;
}
.p-description{
    max-width: 100%!important;
    max-height: 100% !important;
    word-break: break-all;
}

.small-user{
    font-weight: bolder;
    color: #7b87cc;
}
.small-current-state{
    font-weight: bolder;
    color: #7b87cc;
}
.ul-users{
  overflow-y: scroll;
  max-height: 75%;
}

