

<div fxLayoutAlign="center" fxLayout="column" *ngIf="taskSelected">
               <form fxLayoutAlign="center">
                <app-item-versions name="taskSelected" [ngModel]="taskSelected" (ngModelChange)="setVersion($event)" [date]="date" (prevVersion)="prevTask=$event" (currentVersion)="currentVersion = $event" ></app-item-versions>
              </form>
                <div fxLayoutAlign="flex-start">
                   <small class="property-changed">*Property edited*</small>
                </div>
              <div *ngIf="taskSelected && prevTask" fxLayout="column" fxLayoutAlign="center" >
                  <div [style.margin-left.px]="'20'" fxLayoutAlign="flex-end">
                      <mat-icon *ngIf="prevDialog" (click)="back.emit()">keyboard_backspace</mat-icon>
                      <mat-icon *ngIf="!prevDialog && !tasksService.taskTimeStarted(taskSelected) && isLastVersion " (click)="editTask.emit(taskSelected._id)" >edit</mat-icon>
                      <mat-icon *ngIf="!isLastVersion" (click)="restore()" appIsAdm >settings_backup_restore</mat-icon>
                      <mat-label *ngIf="!isLastVersion">*Version is equal to the current one*</mat-label>
                </div>
                <div  fxLayout="column" >
                    <h3 [class]="propertyHasChanged('name') ? 'property-changed':''" fxLayoutAlign="center">{{taskSelected.name}}</h3>
                   <!--  <h5 fxLayoutAlign="center" [style.color]="'#3f51b5'" >{{ taskV === 0 ? 'created by' : 'edited by'  }} {{taskSelected.user['name']}}</h5> -->
                </div>
                <div  fxLayout.gt-xs="row" fxLayout.xs="column">
                    <div fxLayoutAlign="center" fxFlex="33" fxLayout="column">
                        <div class="category-div">
                            <h5>
                                Participants:
                            </h5>
                            <ul>
                                <li [class]="propertyHasChanged('participants') ? 'property-changed':''" *ngFor="let participant of taskSelected.participants" role="listitem">{{participant.name}}</li>
                            </ul>
                        </div>
                        <div class="category-div" >
                            <h5>
                                Description :
                            </h5>
                            <p [class]="propertyHasChanged('description') ? 'property-changed':''">
                                {{taskSelected.description}}
                            </p>
                        </div>
                    </div>
                    <div fxFlex="33" fxLayout="column"  >
                       <div class="category-div" fxLayout="column" >
                           <h5>
                               Start date:
                           </h5>
                           <p [class]="propertyHasChanged('startDate') ? 'property-changed':''">
                               {{taskSelected.startDate | date : 'M/d/yy, h:mm a' }} 
                           </p>
                       </div>
                        <div class="category-div" fxLayout="column"  >
                            <h5>
                                End Date:
                            </h5> 
                            <p [class]="propertyHasChanged('endDate') ? 'property-changed':''">
                                {{taskSelected.endDate | date : 'M/d/yy, h:mm a'}}
                            </p>
                        </div>
                    </div>
                    <div fxFlex="33" fxLayout="column">
                        <div class="category-div" >
                            <h5>
                            Priority:
                            </h5> 
                            <p [class]="propertyHasChanged('priority') ? 'property-changed':''" >
                                    {{taskSelected.priority === 1 ? 'HIGH' : taskSelected.priority === 2 ? 'MEDIUM' : 'LOW'}}
                            </p>
                        </div>
                        <div class="category-div"  >
                            <h5>
                             Status: 
                            </h5>
                            <p>
                            {{ taskSelected.status ? 'done' : 'pending'}}
                            </p>
                        </div>
                    </div>
                </div>
              </div>
</div>






