<div class="div-chat-container"fxLayout.lt-md="column">
    <div *ngIf="showUsers"fxFlex.lt-md="15" fxFlex.gt-sm="10">
        <chat-users *ngIf="showUsers" [users]="users" ></chat-users>
    </div>
    <div [fxFlex.lt-md]="showUsers ? '85' : '100'" [fxFlex.gt-sm]="showUsers ? '90' : '100'" fxLayout="column">
        <chat-messages *ngIf="messages" fxFlex="75" [userOnline]="userOnline" [messages]="messages" [newMessage]="newMessage" [msg]="msg" [messagesCount]="messagesCount" (getMessages)="getMessages.emit($event)" (downloadFile)="downloadFile.emit($event)"></chat-messages>
        <chat-input  fxFlex="25" (sendMsg)="sendMessage($event)" (showUsers)="showUsers=$event" ></chat-input>
    </div>
</div>


