<div class="div-chat-container" fxLayout.gt-md="row" fxLayout.lt-lg="column">
    <div [fxFlex.lt-lg]="showUsers ? 20 : 8" [fxFlex.gt-md]="showUsers ? 15 : 8">
        <div fxFlex="15"fxLayoutAlign="center">
            <mat-icon class="icon-users" [color]="showUsers ? 'accent' : 'primary'" (click)="showUsers = !showUsers">supervised_user_circle</mat-icon>
        </div>
        <div fxFlex="85">
            <chat-users *ngIf="showUsers" [users]="users" ></chat-users>
        </div>
    </div>
    <div [fxFlex.lt-lg]="showUsers ? 80 : 92" [fxFlex.gt-md]="showUsers ? 80: 92" fxLayout="column">
        <chat-messages *ngIf="messages" fxFlex="75" [userOnline]="userOnline" [messages]="messages" [newMessage]="newMessage" [msg]="msg" [messagesCount]="messagesCount" (getMessages)="getMessages.emit($event)" (downloadFile)="downloadFile.emit($event)"></chat-messages>
        <chat-input fxFlex="25" (sendMsg)="sendMessage($event)" ></chat-input>
    </div>
</div>


