

.category-div{
    margin-top:20px;
    margin-right: 25px;
    margin-left:25px;
    width:150px;

    h5{
        font-weight:bolder;
        margin-bottom:5px;
    }
}

.property-changed{
    color:#d1870c
}


mat-radio-group{
    max-width: 600px;
}