

<h2 mat-dialog-title>RESTORE YOUR PASSWORD</h2>

<mat-dialog-content [style.margin-bottom]="'2em'" >
        <form ngNativeValidate [formGroup]='resetForm' id="loginform">
                            
                                        <div  fxLayoutAlign="center">
                                             <mat-form-field fxLayoutAlign="center">
                                             <input  matInput lpInputTrimmer formControlName="resetCode" name='resetCode' placeholder="Type your reset code" type="text" >
                                             </mat-form-field>
                                        </div>
                                          <div fxLayoutAlign="center" *ngIf="resetForm.controls.resetCode.errors && resetForm.controls.resetCode.touched" >
                                                 <small *ngIf="resetForm.controls.resetCode.errors.minlength && !resetForm.controls.resetCode.errors.required " class="error-message">min teen characters</small>
                                          </div>

                                         <div [style.margin-top]="'2em'" >
                                             <div fxLayoutAlign="center">
                                                 <mat-form-field>
                                                    <input  matInput lpInputTrimmer  formControlName='password1' name='password1' placeholder="Password1" type="password" >
                                                </mat-form-field>
                                             </div>
                                            <div fxLayoutAlign="center" *ngIf="!resetForm.controls.password1.valid && resetForm.controls.password1.touched">
                                                <small *ngIf="resetForm.controls.password1.errors.hasNumeric && !resetForm.controls.password1.errors.required " class="error-message">min one number</small>
                                                <small *ngIf="resetForm.controls.password1.errors.minLength && !resetForm.controls.password1.errors.required && !resetForm.controls.password1.errors.hasNumeric" class="error-message"> min eight characters</small>
                                            </div>
        
                                            <div fxLayoutAlign="center" [style.margin-top]="'2em'" >
                                                <mat-form-field>
                                                        <input   matInput lpInputTrimmer  formControlName='password2' name='password2' class="form-control" placeholder="Password2" type="password" >
                                                </mat-form-field>
                                            </div>
                                            <div fxLayoutAlign="center"  *ngIf="!resetForm.controls.password2.valid && resetForm.controls.password2.touched">
                                                <small *ngIf="resetForm.controls.password2.errors.hasNumeric && !resetForm.controls.password2.errors.required " class="error-message">one number is required</small>
                                                <small *ngIf="resetForm.controls.password2.errors.minLength && !resetForm.controls.password2.errors.required && !resetForm.controls.password2.errors.hasNumeric" class="error-message">min eight characters</small>
                                            </div>
                                         </div>
                                            
                                        <div fxLayoutAlign="center" [style.margin-top]="'2em'" >
                                            <small  *ngIf="displayPasswordError(resetForm)" class='error-message'>The both passwords must be equal</small>
                                        </div>

                    </form>
</mat-dialog-content>

<mat-dialog-actions>
      <button class="mat-raised-button" (click)="changePass()"  [disabled]="resetForm.invalid"> <strong>Restablecer contraseña</strong></button>
      <button class="mat-raised-button"(click)="hideModal()">Close</button> 
</mat-dialog-actions>


          

    


       
   