

<h2 mat-dialog-title>RESTORE YOUR PASSWORD</h2>

<mat-dialog-content [style.margin-bottom]="'2em'" >
        <form ngNativeValidate [formGroup]='resetForm' id="loginform">
                            
                                        <div  fxLayoutAlign="center">
                                             <mat-form-field fxLayoutAlign="center">
                                             <input matInput formControlName="resetCode" name='resetCode' placeholder="Type your reset code" autocomplete="off" type="text" >
                                             </mat-form-field>
                                        </div>
                                          <div fxLayoutAlign="center" *ngIf="resetForm.controls.resetCode.errors && resetForm.controls.resetCode.touched" >
                                                 <mat-error *ngIf="resetForm.controls.resetCode.errors.minlength && !resetForm.controls.resetCode.errors.required " >min teen characters</mat-error>
                                          </div>

                                         <div [style.margin-top]="'2em'" >
                                             <div fxLayoutAlign="center">
                                                 <mat-form-field>
                                                    <input  matInput formControlName='password1' name='password1' placeholder="Password1" autocomplete="off" type="password" >
                                                </mat-form-field>
                                             </div>
                                            <div fxLayoutAlign="center" *ngIf="!resetForm.controls.password1.valid && resetForm.controls.password1.touched">
                                                <mat-error *ngIf="resetForm.controls.password1.errors.hasNumeric && !resetForm.controls.password1.errors.required " >min one number</mat-error>
                                                <mat-error *ngIf="resetForm.controls.password1.errors.minLength && !resetForm.controls.password1.errors.required && !resetForm.controls.password1.errors.hasNumeric" > min eight characters</mat-error>
                                            </div>
        
                                            <div fxLayoutAlign="center" [style.margin-top]="'2em'" >
                                                <mat-form-field>
                                                        <input   matInput formControlName='password2' name='password2' class="form-control" placeholder="Password2" autocomplete="off" type="password" >
                                                </mat-form-field>
                                            </div>
                                            <div fxLayoutAlign="center"  *ngIf="!resetForm.controls.password2.valid && resetForm.controls.password2.touched">
                                                <mat-error *ngIf="resetForm.controls.password2.errors.hasNumeric && !resetForm.controls.password2.errors.required " >one number is required</mat-error>
                                                <mat-error *ngIf="resetForm.controls.password2.errors.minLength && !resetForm.controls.password2.errors.required && !resetForm.controls.password2.errors.hasNumeric" >min eight characters</mat-error>
                                            </div>
                                         </div>
                                            
                                        <div fxLayoutAlign="center" [style.margin-top]="'2em'" >
                                            <mat-error  *ngIf="displayPasswordError(resetForm)">The both passwords must be equal</mat-error>
                                        </div>

                    </form>
</mat-dialog-content>

<mat-dialog-actions>
      <button class="mat-raised-button" (click)="changePass()"  [disabled]="resetForm.invalid"> <strong>Restore password</strong></button>
      <button class="mat-raised-button"(click)="hideModal()">Close</button> 
</mat-dialog-actions>


          

    


       
   