
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell   mat-header-cell *matHeaderCellDef fxShow fxHide.lt-xs> Name </mat-header-cell>
            <mat-cell  class="mat-cell-selector" (click)="selectProject(element)"   mat-cell *matCellDef="let element" fxShow fxHide.lt-xs>
                <a [style.color]="'blue'"*ngIf="!mdService.desktop">{{element.name}}</a>
                <span *ngIf="mdService.desktop">{{element.name}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="administrators">
            <mat-header-cell mat-header-cell *matHeaderCellDef fxShow fxHide.lt-sm> Administrators</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" fxShow fxHide.lt-sm> {{element.administrators.length }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="participants">
            <mat-header-cell mat-header-cell *matHeaderCellDef fxShow fxHide.lt-sm> Participants </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" fxShow fxHide.lt-sm> {{element.participants.length}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell mat-header-cell *matHeaderCellDef fxShow fxHide.lt-sm> Status</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" fxShow fxHide.lt-sm> {{element.status === true ? 'active':'unactive'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell fxLayoutAlign.lt-lg="flex-end" mat-cell *matCellDef="let element">
                <a (click)="putProject.emit(element)">
                    <mat-icon class="icon_options">edit</mat-icon>
                </a>
                <a (click)="$event.stopPropagation();deleteProject.emit(element._id)">
                    <mat-icon>delete</mat-icon>
                </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="3" [pageSizeOptions]="[3,6,12]" showFirstLastButtons>
    </mat-paginator>




