

<mat-card fxLayoutGap="20px" class="card-tools">
<mat-icon [color]="showU ? 'accent' : 'primary'" (click)="showU = !showU; showUsers.emit(showU)">supervised_user_circle</mat-icon>
<mat-icon color="primary" #filesUploaderTrigger > attach_file</mat-icon>
 <form action="">
     <lp-files-uploader
     #fileUploader="ngModel"
     ngModel
     (ngModelChange)="setFiles($event)"
     name="files" 
     [trigger]="filesUploaderTrigger._elementRef"
     [config] ="imgValidationConfig" ></lp-files-uploader>
 </form>
</mat-card>