
<div fxLayoutGap="10px" fxLayout="row">
    <div fxLayoutAlign="center" fxFlex="10"> {{taskSelected.startDate | date : 'M/d/yy, h:mm a'}} </div>
    <mat-progress-bar fxFlex="80" color="accent" mode="determinate" [value]="timelineProgress"></mat-progress-bar>
    <div fxLayoutAlign="center" fxFlex="10">  {{taskSelected.endDate | date : 'M/d/yy, h:mm a'}} </div>
</div>
<div *ngIf="taskSelected.deliverDate" fxLayout="column">
    <h5 class="h5-extra-time" fxLayoutAlign="center">EXTRA TIME ({{extraTimeString}})</h5>
    <div fxLayoutAlign="center">
        <mat-progress-bar fxFlex="70" color="accent" mode="determinate" [value]="extraTimeProgress"></mat-progress-bar>
    </div>
</div>