
.div-radio-group{
height: 100% ;
max-height: 80px;
width: 100%;
background-color:#f1f1f1;
overflow-x: scroll;
overflow-y: none !important;
border-radius: 8px;
color: #7b87cc;
font-weight: bolder;
}


.div-radio-group::-webkit-scrollbar { 
    display: none !important;  /* Safari and Chrome */
}